<div class="list-table">
  <div class="article-container-table mat-elevation-z8">
    <div class="example-header">
      <md-form-field floatPlaceholder="never">
        <input mdInput #filter placeholder="Поиск по имени">
      </md-form-field>
    </div>

    <md-table *ngIf="children" #table [dataSource]="dataSource">
      <ng-container mdColumnDef="userId">
        <md-header-cell *mdHeaderCellDef> Номер</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.id}}</md-cell>
      </ng-container>
      <!-- Progress Column -->
      <ng-container mdColumnDef="surname">
        <md-header-cell *mdHeaderCellDef> Фамилия</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.surname}}</md-cell>
      </ng-container>
      <!-- Name Column -->
      <ng-container mdColumnDef="userName">
        <md-header-cell *mdHeaderCellDef> Имя</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.name}}</md-cell>
      </ng-container>
      <!-- Time Column -->
      <ng-container mdColumnDef="time">
        <md-header-cell *mdHeaderCellDef> Время входа</md-header-cell>
        <md-cell *mdCellDef="let row">
          <time>{{row.time | amDateFormat:'hh:mm' }}</time>
        </md-cell>
      </ng-container>
      <!-- CountTime Column -->
      <ng-container mdColumnDef="countTime">
        <md-header-cell *mdHeaderCellDef> Оплачено</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.countTime }}</md-cell>
      </ng-container>
      <!-- CountTime2 Column -->
      <ng-container mdColumnDef="countTime2">
        <md-header-cell *mdHeaderCellDef> Осталось времени</md-header-cell>
        <md-cell *mdCellDef="let row"> {{row.countTime2 }} мин.</md-cell>
      </ng-container>


      <md-header-row *mdHeaderRowDef="displayedColumns"></md-header-row>
      <md-row *mdRowDef="let row; columns: displayedColumns;"></md-row>
    </md-table>
  </div>
</div>
